{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% if request.user == user %}

                <h1>Your account information:</h1>

                <div class="d-flex">

                <div class="d-inline p-2 w-50">
                {% if user.profile.picture_upload %}
                    <img src="{{ user.profile.picture_upload.url }}" class="w-50 rounded d-block" alt="photo">


                {% else %}
                    <img src="{{ user.profile.picture_url }}" class="w-50 rounded d-block" alt="photo">
                {% endif %}
                <div class="text-left">

                <h5><u>Username:</u> {{ user.username }}</h5>
                {% block email %}
                {% endblock email %}
            {% endif %}

            </div>

            {% if request.user == user %}

                {% if request.user.has_usable_password %}
                    <a href="{% url 'change_password' %} " class="btn btn-primary">Change password</a>
                {% endif %}
                <a href=" " class="btn btn-danger">Deactivate</a>
                <div class='text-left'>
                    <h3>Contact form:</h3>
                    <p class='warning'>
                        <strong>You have to fill in the contact form to use full site functionality!</strong>
                    </p>
                    {% block contact %}
                    {% endblock contact %}
                </div>
            {% endif %}

            </div>

            <div class="d-inline p-2 w-50">
                <h3>Profile:</h3>
                {% block profile_info %}
                {% endblock profile_info %}
            </div>
            </div>
        </div>
        {% if request.user == user %}
            <h2 class="text-center">My Books</h2>

        {% else %}
            <h2 class="text-center">{{ user.username }}'s Books</h2>
        {% endif %}
        <div class="container mb-4">
            <div class="d-flex justify-content-start mb-5">

                <!-- Info for First Pet -->
                {% for pet in pets %}
                    <div style="width: 18rem;">
                        <h5>{{ pet.name }}</h5>
                        <p class="mt-2">Age: {% if pet.date_of_birth %}{{ pet }}{% endif %}</p>

                        {#                        <a href="{% url 'edit_pet_url' pet.pk %}" class="btn btn-primary">Edit</a>#}
                        {#                        <a href="{% url 'delete_pet_url' pet.pk %}" class="btn btn-danger">Delete</a>#}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}