{% extends 'base/base.html' %}
{% block content %}


    <div class="container mb-5">
        <h1 class="text-center">Reset password</h1>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h5>We will send you instructions to change your password on your email address:</h5>
                <form action="" method="post" class="my_form_control-one-on-line opacity-format">
                    {{ form }}
                    {% csrf_token %}
                    <input type="submit" value="Submit!">
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

{% endblock content %}