{% extends 'base/base.html' %}
{% block content %}
    <h1>{{ notification }}</h1>
    <ul class="text-left">
        <li>Sender: <a href="{% url 'show_account_details' notification.sender.pk %}">{{ notification.sender }}</a></li>
        <li>Book: <a href="{% url 'book_details' notification.book.pk %}">{{ notification.book.title }}</a></li>
        <li>Date: {{ notification.received_date }}</li>
    </ul>
    {% if not notification.is_answered %}
        <h1>Do you expect to receive such a book?</h1>
        <h3>
            <a href="{% url 'accept_delete_book' notification.pk %}" class="margin-right-final">Yes</a>
            <a href="{% url 'reject_delete_book' notification.pk %}" class="margin-left-final">No</a>
        </h3>
        <details>
            <summary>Information</summary>
            <div class="text-left">
                <ul>
                    <li>If you choose "Yes" this book will be sent to your books on  a way.
                    </li>
                    <li>If you choose "No" this book will be deleted permanently and if you receive it later you will
                        have to
                        add
                        it to your colllect as a new book.
                    </li>
                </ul>
            </div>
        </details>
    {% endif %}

{% endblock content %}