{% extends 'base/base.html' %}
{% load common_tags %}
{% block content %}
    <div class="text-left">
        <ul>
        {% if not notifications %}
        <h1>There are no notifications</h1>
        {% endif %}
            {% for notification in notifications %}
                <li>
                    {% if not notification.is_read %}

                        <strong>
                            <a href="{{ notification.get_absolute_url }}">{{ notification }}</a> (unread)
                        </strong>
                    {% else %}
                        <a href="{{ notification.get_absolute_url }}">{{ notification }}</a>
                    {% endif %}
                    {% if not notification.is_answered %}
                        <strong>(Unanswered)</strong>
                    {% endif %}
                </li>

            {% endfor %}
        </ul>
    </div>
    {% pagination %}
{% endblock content %}