{% extends 'base/base.html' %}
{%load static%}
{% block content %}
    <div>
        <h1>The world of books</h1>
        <p1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis debitis expedita explicabo
            laudantium molestiae necessitatibus, provident, ratione saepe sequi similique vitae voluptates. Alias
            delectus hic maxime officia repellat voluptas.
        </p1>
    </div>
    <div>
        Suggestions:
        TODO ON 1 line
        <div>Kniga 1</div>
        <div>Kniga 2</div>
        <div>Kniga 3</div>
    </div>
    <form action="{% url 'book_list' %}">
        <input class="opacity-format" type="text" name="search">
        <input value="title" type="hidden" name="search_by">
        <input value="-" type="hidden" name="ord">
        <button class="opacity-format">Search</button>
    </form>
    <div>
        <h1>Article of a week</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis debitis expedita explicabo
            laudantium molestiae necessitatibus, provident, ratione saepe sequi similique vitae voluptates. Alias
            delectus hic maxime officia repellat voluptas.</p>
    </div>


{% endblock content %}
