{% extends 'base/base.html' %}
{% load library_tags %}
{% load static %}
{% block content %}
    <div>
        <h1>The world of books</h1>
        <h3><p>“A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”
        </p>
            <p>— George R.R. Martin</p>
        </h3>
    </div>
    <form action="{% url 'book_list' %}">
        <input placeholder="Search book by title" type="text" name="search">
        <input value="title" type="hidden" name="search_by">
        <input value="-" type="hidden" name="ord">
        <button class="opacity-format">Search</button>
    </form>
    <h1>Top most liked books:</h1>
    <div class='my-books-list'>
        {% for book in books_to_show %}
            <div class="book-information myBooks">
                <div class='right-side-top'>
                    {% like_book %}
                </div>
                {% book_details book.pk %}
                <input type="button" class="align-end" onclick="location.href='{% url 'book_details' book.pk %}';"
                       value="Details"/>
            </div>
        {% endfor %}


    </div>

{% endblock content %}
