html {
    background: url('https://wallpaperaccess.com/full/4868953.jpg') no-repeat top center;
    background-color: black;
}

.login {
    color: black;
    background-color: rgba(204, 204, 204, 0.2) !important;
}


:root {
    --primary: #494848;
    --secondary: black;
    --accent: white;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: rgba(204, 204, 204, 0.0);
    --body-quiet-color: #000;
    --body-loud-color: #000;
    --header-color: white;
    --header-branding-color: var(--accent);
    --header-bg: black;
    --header-link-color: white;
    --breadcrumbs-fg: white;
    --breadcrumbs-link-fg: black;
    --breadcrumbs-bg: var(--primary);
    --link-fg: #000;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: black;
    --border-color: black;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: rgba(128, 128, 128, 0.4);
    --selected-bg: rgba(128, 128, 128, 1);
    --selected-row: rgba(128, 128, 128, 1);
    --button-fg: #fff;
    --button-bg: black;
    --button-hover-bg: #666;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}
