{% extends 'base/base.html' %}
{% load library_tags %}
{% load static %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <h1>Offer to
                <a href="{% url 'show_account_details' book.owner.pk %}">{{ book.owner }}</a>
            </h1>
            <div class="d-flex">
                <div class="d-inline p-2 w-50">
                    <h3>You offer:</h3>
                    {% if form.sender_books|length %}
                        {{ form.sender_books }}
                    {% else %}
                        <h3>You do not have any books to offer!</h3>
                        <input type="button" onclick="location.href='{% url "create_book" %}?next={{ request.path }}';"
                               value="Add book"/>
                    {% endif %}

                </div>

                <div class="d-inline p-2 w-50 margin-left-final">
                    <h3>You want:</h3>
                    <div class="book-information">
                        {% book_details book.pk %}
                    </div>
                    <details>
                        <summary>Want more books</summary>
                        {{ form.recipient_books }}
                    </details>
                </div>

            </div>
            <div class="text-center">
                {% if form.sender_books|length %}
                    <button>Send</button>
                {% endif %}

            </div>
        </div>
    </form>
{% endblock %}