{% extends 'base/base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <h1>
            <p>You have to send your books to {{send_to}}</p>
            <address>Address: {{ send_to.sensitive_information.city }}</address>
            <p>Phone number:</p>
        </h1>
        <div class="text-left margin-left-final">
                <ul>
                    {% for book in books_to_send %}
                        <li><a href="{% url 'book_details' book.pk %}">{{ book }}</a></li>
                    {% endfor %}
                </ul>
    </div>

    </div>
    <input type="button" onclick="location.href='{% url 'show_notifications' %}';"
           value="Back to notifications"/>
{% endblock content %}