{% extends 'base/base.html' %}
{% load library_tags %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">

        <h1>
            {% if is_my_offer %}
                Offer to
                <a href="{% url 'show_account_details' offer.recipient.pk %}">{{ offer.recipient }}</a>

            {% else %}
                Offer from
                <a href="{% url 'show_account_details' offer.sender.pk %}">{{ offer.sender }}</a>

            {% endif %}
        </h1>
        <h3>

            {% if offer.previous_offer %}
                It is counter offer to
                <a href="{% url 'show_offer_details' offer.previous_offer.pk %}">Offer {{ offer.previous_offer.pk }}</a>
            {% endif %}
        </h3>

        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <h3>{% if is_my_offer %}
                    You offer:
                {% else %}
                    They want:
                {% endif %} </h3>

                <div class='my-books-list'>
                    {% for book in my_books %}

                        {% if my_books|length < 3 %}
                            <div class="book-information myBooks width-60">

                                {% book_details book.pk %}
                                <input type="button" class="align-end"
                                       onclick="location.href='{% url 'book_details' book.pk %}';"
                                       value="Details"/>
                            </div>
                        {% else %}
                            <div class='book-information myBooks width-60'>
                                <a href="{% url 'book_details' book.pk %}">{{ book }}</a>
                            </div>
                        {% endif %}


                    {% endfor %}
                </div>


            </div>

            <div class="d-inline p-2 w-50 margin-left-final">
                <h3>{% if is_my_offer %}
                    You want:
                {% else %}
                    They offer:
                {% endif %}</h3>
                <div class='my-books-list'>
                    {% for book in others_books %}

                        {% if others_books|length < 3 %}
                            <div class="book-information myBooks width-60">

                                {% book_details book.pk %}
                                <input type="button" class="align-end"
                                       onclick="location.href='{% url 'book_details' book.pk %}';"
                                       value="Details"/>
                            </div>
                        {% else %}
                            <div class='book-information myBooks width-60'>
                                <a href="{% url 'book_details' book.pk %}">{{ book }}</a>
                            </div>
                        {% endif %}


                    {% endfor %}
                </div>
            </div>

        </div>
        {% if offer.is_active %}
            <div class="text-center">
                {% if not is_my_offer %}
                    <input type="button" onclick="location.href='{% url 'accept_offer' offer.pk %}';" value="Accept"/>
                    <input type="button" onclick="location.href='{% url 'negotiate_offer' offer.pk %}';"
                           value="Negotiate"/>
                    <input type="button" onclick="location.href='{% url 'decline_offer' offer.pk %}';" value="Decline"/>
                    </div>
                {% else %}
                    <input type="button" onclick="location.href='{% url 'decline_offer' offer.pk %}';" value="Cancel"/>
                {% endif %}
            </div>

        {% else %}

            {% if offer.is_accept %}
                <h1>This offer has been accepted!</h1>
            {% elif not offer.next_offer %}
                <h1>This offer has been canceled/refused!</h1>
            {% endif %}
        {% endif %}


    <h3>
        {% if offer.next_offer %}
            <a href="{% url 'show_offer_details' offer.next_offer.pk %}">Counter offer</a> has been made!
        {% endif %}
    </h3>
    </div>
{% endblock %}