{% extends 'base/base.html' %}
{% load common_tags %}
{% block content %}
    {% if not offers %}
        <h1>You do not have any offers yet!</h1>
    {% endif %}
    <div class="text-left">

        <ul>
            {% for offer in offers %}
                <li>
                    {% if offer.is_active %}
                        <strong>
                    {% endif %}
                    {% if offer.sender == request.user %}
                        <a href="{% url 'show_offer_details' offer.pk %}">
                            Your {{ offer }} to {{ offer.recipient }}</a>

                    {% else %}
                        <a href="{% url 'show_offer_details' offer.pk %}">
                            {{ offer.sender }}'s {{ offer }} to you</a>

                    {% endif %}
                    </strong>
                </li>

            {% endfor %}
        </ul>
    </div>
    {% pagination %}
{% endblock content %}