{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The world of books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>


<body>
<nav class="navbar">
    <div class='nav-el-style'>
        <ul>
            <li class="inline">
                <a href="{% url 'show_home' %}" class='nav  margin-right'>
                    <img src="{% static 'images\book.jpg' %}" alt="Home">
                </a>
            </li>
            <li class="inline">
                <a href="{% url 'book_list' %}" class="nav margin-right">
                    Library</a>
            </li>

            {% if request.user.is_authenticated %}
                <li class="inline">
                    <a href="{% url 'show_books_dashboard' request.user.pk %}" class="nav margin-right">
                        My Books</a>
                </li>
                <li class="inline">
                    <a href="{% url 'show_offer_list' %}" class="nav margin-right">
                        My offers</a>
                </li>
            {% endif %}

        </ul>
    </div>

    {% if request.user.is_authenticated %}

        <div class="right-side  nav-el-style">
            Welcome,
            <a href="{{ request.user.get_absolute_url }}" class="margin-right">
                {% if request.user.profile.full_name %}
                    {{ request.user.profile.first_name|capfirst }} {{ request.user.profile.last_name|capfirst }}!
                {% else %}
                    {{ request.user.nickname }}!
                {% endif %}</a>

            {% if request.user.is_staff %}
                <a href="{% url 'admin:index' %}">View admin</a>
            {% endif %}

            <a href="{% url 'logout_user' %}" class="margin-left-final margin-right-final">
                Logout</a>
            <br>
            <a href="{% url 'show_notifications' %}" class="opacity-format margin-right-final">
                {% if request.user.receiver_messages.unread.count %}
                    You have {{ request.user.receiver_messages.unread.count }} new notifications!
                {% else %}
                    Notifications
                {% endif %}</a>
        </div>

    {% else %}

        <div class="right-side  nav-el-style">
            <a href="{% url 'create_user' %}" class="margin-right">
                Register</a>
            <a href="{% url 'login_user' %}?next={{ request.path }}" class="margin-right-final">
                Login</a>
        </div>

    {% endif %}
</nav>

<hr>
<main>
    <div class="content-div">
        {% block content %}
        {% endblock %}
    </div>
</main>
<hr>
</body>


<footer class="sticky-bottom">
    <p>@2022 Python Web Framework Course SoftUni</p>
    <p>Created by: Velislav Govedarski</p>
</footer>

</html>
