{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>


<body>
<nav class="navbar">
    {#    NAVIGATION BAR#}
    <div class='nav-el-style'>
        <ul>
            <li class="inline">
                <a href="{% url 'show_home' %}" class='nav opacity-format margin-right'>
                    <img src="{% static 'images\book.jpg' %}"
                         alt="Home">
                </a>
            </li>
            <li class="inline"><a href="{% url 'book_list' %}" class="nav opacity-format margin-right">Library</a></li>
            {% if request.user.is_authenticated %}

                <li class="inline"><a href="{% url 'show_books_dashboard' request.user.pk %}"
                                      class="nav opacity-format margin-right">My Books</a></li>
                <li class="inline"><a href="{% url 'show_offer_list' %}" class="nav opacity-format margin-right">My
                    offers</a></li>

            {% endif %}

        </ul>
    </div>

    {#    Authentication STUFF#}
    {% if request.user.is_authenticated %}
        {% if request.user.profile.full_name %}
            <div class="right-side  nav-el-style">Welcome,
            <a href="{% url 'show_my_account_details' %}"
               class="opacity-format margin-right">{{ request.user.profile.full_name }}!</a>
        {% else %}
            <div class="right-side  nav-el-style">Welcome,
            <a href="{% url 'show_my_account_details' %}"
               class="opacity-format margin-right">{{ request.user.username }}!</a>
        {% endif %}

    <a href="{% url 'logout_user' %}" class="opacity-format margin-right-final">Logout</a>

    <br>
    {% if not hide_notifications %}
        <a href="{% url 'show_notifications' %}" class="opacity-format margin-right-final">
            {% if request.user.receiver_messages.all %}
                Notifications
            {% endif %}
        </a>
    {% endif %}
    </div>
    {% else %}
        <div class="right-side  nav-el-style">
        <a href="{% url 'create_user' %}" class="opacity-format margin-right">Register</a>
        <a href="{% url 'login_user' %}" class="opacity-format margin-right-final">Login</a>
    {% endif %}
    </div>
</nav>

<hr>
<main>
    <div class="content-div">
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <p>About us</p>
</footer>
</body>


</html>
